@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}


@font-face {
  font-family: "pricedown";
  src: url("./pricedown.otf");
}

html,
body {
  background-color: #000;
  width: 100%;
  height: 100%;
  font-family: "pricedown";
}
